@media screen and (min-width: 200px) and (max-width: 600px) {
    .container {
        display: grid;
        grid-template-areas: "nav" "cont" "main" "aside" "footer";
    }
    .nav {
        grid-area: nav;
    }
    .content {
        grid-area: cont;
    }
    .aside {
        grid-area: aside;
    }
    .main {
        grid-area: main;
    }
    .footer {
        grid-area: footer;
    }
    .card {
        grid-template-columns: 1fr;
    }
    .title {
        display: none;
    }
    .card-title-h1 {
        font-size: 14px;
    }
    .card-profile-title,
    .card-profile-a,
    .typography,
    .title-text,
    .navbar a,
    p,
    ul,
    li {
        font-size: 16px;
    }
    .text-paragraph {
        font-size: 16px;
    }
    .card-profile {
        max-width: 150px;
        min-width: 25vh;
    }
    .btn {
        width: 100px;
    }
    .footer {
        display: none;
    }
}

@media screen and (max-width: 600px) {
    .navbar a:not(:first-child) {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
    .card {
        grid-template-columns: 1fr;
    }
    .title {
        display: none;
    }
    .content {
        display: grid;
        grid-gap: 20px;
    }
    .main {
        font-size: 12px;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .card {
        grid-template-columns: 1fr;
    }
    .title {
        display: none;
    }
    .content {
        display: grid;
        margin-bottom: 20px;
    }
    .main {
        font-size: 14px;
    }
}